name: CI

on:
  pull_request:
  push:
    branches: main
  schedule:
  - cron:  '5 0 * * *'

jobs:
  flake8:
    name: Flake8
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.8
      uses: actions/setup-python@v4
      with:
        python-version: '3.8'
    - name: Flake8 test
      run: |
        python -m pip install flake8 pep8-naming flake8-quotes flake8-bugbear flake8-pyproject flake8-isort
        python -m flake8 --show-source --statistics "$(basename $GITHUB_REPOSITORY)" test && echo "Flake8 found no errors."

  mypy:
    name: Mypy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.x
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'
    - name: Run mypy
      run: |
        python -m pip install -U mypy frozendict pytest
        mypy --strict orderedsets
        mypy test

    # pylint:
    #     name: Pylint
    #     runs-on: ubuntu-latest
    #     steps:
    #     - uses: actions/checkout@v3
    #     -
    #       uses: actions/setup-python@v4
    #       with:
    #         python-version: '3.x'
    #     - name: Install
    #       run: |
    #         . .ci-support/install.sh

    #     - name: Run Pylint
    #       run: |
    #         MINIFORGE_INSTALL_DIR=.miniforge3
    #         . "$MINIFORGE_INSTALL_DIR/bin/activate" testing
    #         ./run-pylint.sh

    # pydocstyle:
    #     runs-on: ubuntu-latest
    #     steps:
    #     - uses: actions/checkout@v3
    #     -
    #       uses: actions/setup-python@v4
    #       with:
    #         python-version: '3.x'
    #     - name: Run Pydocstyle
    #       run: |
    #         python3 -m venv myenv
    #         source myenv/bin/activate
    #         python -m pip install wheel
    #         python -m pip install pydocstyle
    #         python -m pydocstyle "$(basename $GITHUB_REPOSITORY)" && echo "pydocstyle found no errors."

  pytest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.6", "3.7", "3.8", "3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Run Pytest
      run: |
        python -c "import sys; print(sys.version)"
        python -m pip install -U pytest pytest-cov pip setuptools frozendict
        pip install -e .
        cd test
        python -m pytest --cov=orderedsets --durations=0 --tb=native -rxsw .

    # examples:
    #     name: Examples
    #     runs-on: ${{ matrix.os }}
    #     strategy:
    #       matrix:
    #         os: [ubuntu-latest, porter]

    #     steps:
    #     - uses: actions/checkout@v3
    #     - name: Install
    #       run: |
    #         . .ci-support/install.sh

    #     - name: Test lazy accuracy
    #       run: |
    #         MINIFORGE_INSTALL_DIR=.miniforge3
    #         . "$MINIFORGE_INSTALL_DIR/bin/activate" testing
    #         mamba install vtk  # needed for the accuracy comparison
    #         export XDG_CACHE_HOME=/tmp
    #         [[ $(hostname) == "porter" ]] && export PYOPENCL_TEST="port:nv" && unset XDG_CACHE_HOME
    #         # && export POCL_DEBUG=cuda
    #         scripts/run-integrated-tests.sh --lazy-accuracy
    #     - name: Run examples
    #       run: |
    #         MINIFORGE_INSTALL_DIR=.miniforge3
    #         . "$MINIFORGE_INSTALL_DIR/bin/activate" testing
    #         export XDG_CACHE_HOME=/tmp
    #         [[ $(hostname) == "porter" ]] && export PYOPENCL_TEST="port:nv" && unset XDG_CACHE_HOME
    #         # && export POCL_DEBUG=cuda
    #         scripts/run-integrated-tests.sh --examples

    # doc:
    #     name: Documentation
    #     runs-on: ubuntu-latest

    #     steps:
    #     - uses: actions/checkout@v3
    #     - name: Install
    #       run: |
    #         . .ci-support/install.sh

    #     - name: Build docs
    #       run: |
    #         set -x
    #         MINIFORGE_INSTALL_DIR=.miniforge3
    #         . "$MINIFORGE_INSTALL_DIR/bin/activate" testing

    #         sudo apt-get update
    #         sudo apt-get install texlive-latex-extra latexmk
    #         mamba install sphinx graphviz 'docutils>=0.16'

    #         # Work around "Not enough memory to run on this device." errors in CI:
    #         mamba uninstall pocl

    #         pip install sphinx-math-dollar sphinx-copybutton furo
    #         cd doc
    #         make html SPHINXOPTS="-W --keep-going -n"
    #         make latexpdf SPHINXOPTS="-W --keep-going -n"

